@use '../../styles/scss/mixins/typography' as *;
@use '../../styles/scss/variables/colors' as *;
@use '../../styles/scss/variables/viewports' as *;

.favorites {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;

  &__bottom {
    flex-grow: 1;
    display: flex;

    &__movie-list {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      gap: 24px 16px;

      li {
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        min-height: 150px;

        @media (min-width: $phone-viewport-3) {
          flex-basis: calc($phone-viewport-1 - 32px);
          max-width: $phone-viewport-1;
        }
      }
    }

    &__notfound {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      h4 {
        @include font-custom(24, 48, center, 'Pacifico', 400, $notfound-title);
      }

      p {
        @include font-custom(16, 24, center, 'Inter', 400, $notfound-paragraph);
      }
    }
  }
}
