$header-background: #3e3e3e;

$page-background: #dedede;

$scroll-thumb: #c64c4c;
$scroll-track: #c4c4c4;

$search-placeholder: #c1c1c1;
$search-font: #3e3e3e;
$search-background: #ffffff;
$search-button-font: #ffffff;
$search-button-background: #c1c1c1;

$link-font: #ffffff;
$link-font-alternative: #c64c4c;
$link-background: #c64c4c;

$movie-card-font: #ffffff;
$movie-card-background: #3e3e3ecc;
$movie-card-not-favorite: #ffffff;
$movie-card-is-favorite: #c64c4c;

$genre-card-font: #ffffff;
$genre-card-background: #c64c4c;
$genre-card-background-alternative: #3e3e3e;

$notfound-title: #3e3e3e;
$notfound-paragraph: #aeacac;

$footer-background: #3e3e3e;

$spinner-loading-1: #c64c4c;
$spinner-loading-2: #c64c4c;

$pagination-font: #ffffff;
$pagination-background: #c64c4c;
$pagination-background--current: #dd8a8a;
